<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Simple Airbnb</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="ml-auto flex">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" name="query" type="search" placeholder="Search" aria-label="Search" value>
        <button class="btn btn-outline-succes my-2 my-sm-0" type="submit">Search
        </button>
      </form>
      <%= link_to "Add a New Flat", new_flat_path %>
    </div>
  </div>
</nav>

<div class="row">

<% @flats.each do |flat| %>
    <div class="col-4">
      <div class="flat-card">
        <div class="flat-card-image" style="background-image: url('https://images.unsplash.com/photo-1493809842364-78817add7ffb?w=1200')">
        </div>
        <div class="flat-card-content">
          <div class="flat-card-title">
            <h4><%= flat.name %></h4>
          </div>
          <p><%= flat.address %></p>
           <div class="flex">
              <div class="flex">
                <i class="fas fa-user-friends"></i><span><%= flat.number_of_guests %></span>
              </div>
              <div class="flex ml-3">
                <i class="fas fa-euro-sign"></i> <%= flat.price_per_night %>
              </div>
            </div>
          </div>
          <div class="flat-card-actions">
            <%= link_to "More info", flat_path(flat) %>
            <a class="ml-3 text-warning" href="/flats/3999/edit">Edit</a>
            <a data-confirm="Are you sure?" class="ml-3 text-danger" rel="nofollow" data-method="delete" href="/flats/3999">Remove</a>
          </div>
    </div>
</div>
  <% end %>
</div>

